<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>
      {% set titleBlock = block("title") %}
      {% if titleBlock is not empty %}
        {% block title %}{% endblock %} |
      {% endif %}
      {{ app.currentSite.title }}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# biblys assets #}
    {% include "layout:_assets_css.html.twig" %}

    <link rel="stylesheet" href="/theme/styles.css?{{ app.currentSite.getOption('assets_version') }}" />
    <link rel="icon" type="image/png" href="/theme/favicon.png">

    {% include "layout:_analytics.html.twig" %}

    <link rel="alternate" type="application/rss+xml" title="Le blog Dystopia" href="/feeds/blog.rss.xml" />
  </head>
  <body>
    {% include "layout:_overall_menu.html.twig" %}
    {% include "layout:_flash_messages.html.twig" %}

  <div class="page">
    <header class="header">
      <div class="logo-and-elements">
        <div class="blank"></div>
        <div class="logo">
          <a href="/">
            <img src="/theme/logo.png" class="logo-image" alt="Logo Éditions ActuSF"/>
          </a>
        </div>
        <div class="header-elements">
          <div class="cart">
            {{ cart_status()|raw }}
          </div>
          <div class="social-networks">
            <a href="https://www.facebook.com/Editions.Actusf/" target="_blank">
              <img class="icon" src="/theme/facebook.png" alt="Facebook">
            </a>
            <a href="https://twitter.com/Editions_ActuSF" target="_blank">
              <img class="icon" src="/theme/twitter.png" alt="Twitter">
            </a>
            <a href="https://www.instagram.com/actusf/" target="_blank">
              <img class="icon" src="/theme/instagram.png" alt="Instagram">
            </a>
            <a href="/feeds/blog.rss.xml" target="_blank">
              <img class="icon" src="/theme/rss.png" alt="Flux RSS">
            </a>
          </div>
          <div class="search">
            <form action="/articles/search" class="search-form" method="get">
              <input type="search" class="search-input" name="q" autocorrect="off">
              <input type="submit" class="search-submit" value="">
            </form>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg mb-5 px-5">
        <a class="navbar-brand" href="/">Les éditions ActuSF</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/rayon/catalogue">Catalogue</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rayon/numerique">Numérique</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/rayon/le-club-de-la-nouvelle">Club de la Nouvelle</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog/">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/manuscrits">Manuscrits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact/">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pages/inscription-a-la-newsletter">Newsletter</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="content">
      {% block main %}{% endblock %}
    </main>

    <footer>
      <ul class="footer">
        <li>
          <a href="/pages/mentions-legales">
            Mentions légales
          </a>
        </li>
        <li>
          <a href="/pages/conditions-generales-de-vente">
            Conditions générales de vente
          </a>
        </li>
        <li>
          <a href="http://www.biblys.fr/" target="_blank">
            <img src="/assets/images/propulse-par-biblys.png" alt="Propulsé par Biblys">
          </a>
        </li>
      </ul>
    </footer>
  </div>

  {% include "layout:_assets_js.html.twig" %}
  <script src="/theme/main.js?{{ app.currentSite.getOption('assets_version') }}"></script>
  </body>
</html>
