<div id="home-carousel" class="home-carousel">




	<!-- Bannière 4 -->
	<a href="https://www.editions-actusf.fr/rayon/catalogue">
		<article class="carousel-post" style="background-image: url('/media/bandeaux/sortiesaout.jpg')"></article>
	</a>    
	
	  <!-- Bannière 3 -->
	<a href="https://www.editions-actusf.fr/a/collectif/shining-in-the-dark">
		<article class="carousel-post" style="background-image: url('/media/bandeaux/shining-in-the-dark-1.3')"></article>
	</a> 

	<!-- Bannière 5 -->
	<a href="https://www.editions-actusf.fr">
		<article class="carousel-post" style="background-image: url('/media/bandeaux/nos-futurs.jpg')"></article>
	</a>

	<img alt="Précédent" class="prev-button" id="carousel-prev-button" src="/actusf/media/layout/carousel-arrow.png">
	<img alt="Suivant" class="next-button" id="carousel-next-button" src="/actusf/media/layout/carousel-arrow.png">
</div>

<div class="home-articles">
	{% for article in articles %}
		<div class="article">
      {% if article.hasCover() %}
        {{article.getCoverTag({
          size: 'w600',
          link: path('article_show', { slug: article.url })
        })|raw}}
      {% endif %}
		</div>
	{% endfor %}
</div>
