<div id="home-carousel" class="home-carousel">



   	<!-- Bannière15 -->
	<a href="https://www.editions-actusf.fr/blog">
		<article class="carousel-post" style="background-image: url('/media/bandeaux/thumbnail-800x400-banniere-web-dedicace-avril.jpg')"></article>
	</a>    

	  <!-- Bannière 2 -->
	<a href="https://www.editions-actusf.fr/blog">
		<article class="carousel-post" style="background-image: url('/media/bandeaux/thumbnail-800x400-banniere-web-dedicace-jl-v2.jpg')"></article>
	</a> 

	<!-- Bannière 3 -->
	<a href="https://www.editions-actusf.fr/rayon/catalogue">
		<article class="carousel-post" style="background-image: url('/media/bandeaux/800x400-sortie-mars.png')"></article>
	</a>    
	
	
	  <!-- Bannière 4 -->
	<a href="https://www.editions-actusf.fr/a/anonyme/les-hommes-denatures">
		<article class="carousel-post" style="background-image: url('/media/bandeaux/banniere-h-denatures.jpg')"></article>
	</a> 
	
	<!-- Bannière 5 -->
	<a href="https://www.editions-actusf.fr/blog">
		<article class="carousel-post" style="background-image: url('/media/bandeaux/thumbnail-800x400-web-dedicace-belge.jpg')"></article>
	</a>  
	
     <!-- Bannière 6 -->
	<a href="https://www.editions-actusf.fr/">
		<article class="carousel-post" style="background-image: url('/media/bandeaux/thumbnail-livres-du-22janv.jpg')"></article>
	</a>  


	</a>

	<img alt="Précédent" class="prev-button" id="carousel-prev-button" src="/theme/carousel-arrow.png">
	<img alt="Suivant" class="next-button" id="carousel-next-button" src="/theme/carousel-arrow.png">
</div>

<div class="home-articles">
	{% for article in articles %}
		<div class="article">
      {% if article.hasCover() %}
        {{article.getCoverTag({
          size: 'w600',
          link: path('article_show', { slug: article.url })
        })|raw}}
      {% endif %}
		</div>
	{% endfor %}
</div>
