@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Crimson Text', serif;
  font-size: 1.6rem;
}

ul {
    list-style: disc;
    padding-inline-start: 40px;
}

/* 1. MOBILE */

/* 1.1 Header */

.header {
  margin-top: 25px;
}

.header-elements {
  align-items: center;
  display: flex;
  padding: 0 5px 5px;
}

.header .blank {
  display: none;
}

.logo {
  width: 100%;
}

.logo .logo-image {
  display: block;
  margin: auto;
  max-width: 100%;
  width: 300px;
}

.cart,
.social-networks,
.search {
  width: 33%;
}

.social-networks .icon {
  width: 20px;
}

.search-form {
  align-items: center;
  display: flex;
}

.search-input {
  background: #e0dfdf;
  border: 0;
  border-radius: 20px;
  padding: 5px;
  width: calc(100% - 32px);
}

.search-submit {
  background-color: white;
  background-image: url('/actusf/media/layout/search.png');
  background-size: contain;
  border: 0;
  display: inline-block;
  height: 26px;
  padding: 0;
  width: 26px;
}

/* 1.1b Footer */

.footer {
  list-style: none;
  border-top: 2px solid black;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
}

/* 1.2 Menu */

.navbar {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-radius: 0;
}

.navbar .icon-bar {
  background-color: black;
}

.navbar a {
  color: black;
}

.content {
  padding: 0 10px;
  width: 100%;
}

/* 1.3 Home */

.home-image {
  display: block;
  margin: auto;
  max-width: 100%;
  width: 800px;
}

.home-articles {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 800px;
}

.home-articles .article {
  margin: 15px 10px;
}

.home-articles .article:first-child {
  margin-left: 0;
}

.home-articles .article:last-child {
  margin-right: 0;
}

.home-articles img {
    max-height: 200px;
    max-width: 100%;
}

/* 1.3b Home carousel */

.home-carousel {
  box-sizing: content-box;
  margin: 25px auto;
  max-width: 800px;
  padding-bottom: 42%;
  position: relative;
}

.home-carousel a {
  color: white;
}

.carousel-post {
  background-position: center center;
  background-size: cover;
  display: none;
  padding-bottom: 50%;
  position: absolute;
  width: 100%;
  transition: opacity 400ms;
}

.carousel-post .carousel-title {
  bottom: 0;
  background-color: #01a1a1;
  font-family: 'Lemon';
  font-size: 20px;
  margin: 0 -6px;
  max-height: 50px;
  padding: 5px 70px;
  position: absolute;
  text-align: center;
  transform: translateY(calc(100% + 6px));
  width: calc(100% + 12px);
}

.home-carousel .prev-button,
.home-carousel .next-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.home-carousel .next-button {
  right: 0;
  transform: translate(50%,-50%) rotate(180deg);
}

.home-carousel .left-wing,
.home-carousel .right-wing {
  display: none;
}

.home-carousel .carousel-pagination {
  background: white;
  display: inline-block;
  left: 50%;
  padding: 0 25px;
  position: absolute;
  transform: translateX(-50%);
  z-index: 100;
}

.home-carousel .carousel-pagination .carousel-page {
  background-color: #e2f4f4;
  border-radius: 10px;
  display: inline-block;
  height: 10px;
  margin: 0 5px;
  transition: background-color 250ms;
  width: 10px;
}

.home-carousel .carousel-pagination .carousel-page.active {
  background-color: #ee6764
}

/* 1.4 Article list */

.article-in-list {
  color: #7a7978;
  border-bottom: 1px solid black;
  display: flex;
  font-size: 15px;
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.article-in-list .article-cover {
  width: 40%;
}

.article-in-list .article-cover-image {
  max-width: 100%;
}

.article-in-list .article-infos {
  font-size: 18px;
  padding: 10px 10px;
  padding-bottom: 50px;
  position: relative;
  text-align: left;
  width: 60%;
}

.article-in-list a {
  color: #7a7978;
}

.article-in-list .article-title {
  font-weight: bold;
}

.article-in-list .arrow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
}

/* 1.5 Article page */

.article .cover-col {
  text-align: center;
}

.article .infos-col-line {
  border-bottom: 2px solid black;
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
  max-width: 300px;
}

.article .article-title {
  margin-bottom: 5px;
}

.article .article-authors {
  border-bottom: 1px solid black;
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: 0;
  padding-bottom: 10px;
}

.article .availability img {
    vertical-align: baseline;
}

.article .other-version {
    margin: 10px 0;
}

.article .price,
.article .article-contributors {
  font-size: 1.4rem;
  margin: 10px 0;
}

/* 1.6 Posts & Events */

.posts-title,
.events-title {
  margin: auto;
  max-width: 700px;
}

.post,
.event {
  border-bottom: 2px solid black;
  margin: auto;
  max-width: 700px;
  padding: 20px 0;
}

.post img,
.event img {
  max-width: 100%;
}

.post .post-title,
.event .event-title {
  border-bottom: 1px solid black;
  display: inline-block;
  margin-top: 0;
  padding-bottom: 5px;
}

/* 1.7 Page */

.page .page {
  max-width: 700px;
}

/* 2.0 TABLET */

@media (min-width: 768px) {
  /* 2.1 Header */

  .logo-and-elements {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: auto;
  }

  .header-elements {
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .cart,
  .social-networks,
  .search {
    width: auto;
  }

  .cart {
    text-align: right;
    width: 100%;
  }

  /* 2.1b Footer */

  .footer {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .footer li {
    padding: 5px;
  }

  /* 2.2 Menu */

  .navbar-brand {
    display: none;
  }

  .navbar-nav {
    justify-content: space-between;
    display: flex;
    width: 100%;
  }

  .navbar-nav > li {
    float: none;
    font-size: 16px;
  }

  /* 2.4 Article list */

  .article-list {
    display: flex;
    flex-wrap: wrap;
  }

  .article-in-list {
    width: 50%;
  }

  /* 2.5 Article */

  .article {
    display: flex;
    flex-wrap: wrap;
  }

  .cover-col {
    border-right: 1px solid black;
    padding-right: 20px;
    width: 30%;
  }

  .cover-col .cover-image {
    max-width: 100%;
  }

  .infos-col {
    padding-left: 20px;
    width: 70%;
  }

  .bonus-col {
    margin-top: 25px;
  }
}

/* 3. DESKTOP */
@media (min-width: 1024px) {
  .page {
    margin: auto;
    width: 1000px;
  }

  /* 3.1 Header */

  .header .blank {
    display: block;
  }

  .header .blank,
  .header .logo,
  .header .header-elements {
    width: 33%;
  }

  /* 3.2 Menu */

  .navbar-nav > li {
    font-size: 18px;
  }

  /* 3.4 Article list */

  .article-in-list {
    width: 33%;
  }

  /* 3.5 Article */

  .article .cover-col {
    width: 20%;
  }

  .article .infos-col {
    padding-right: 20px;
    width: 55%;
  }

  .article .bonus-col {
    border-left: 1px solid black;
    padding-left: 20px;
    width: 25%;
  }
}
