{% extends "layout:base.html.twig" %}

{% block main %}

	<div id="home-carousel" class="home-carousel">
	    
	  	<!-- Bannière 2 -->
		<a href="https://editions-actusf.fr/a/adrien-party/vampirologie_84408">
			<article class="carousel-post" style="background-image: url('media/bandeaux/vampirologie-dispo.svg')"></article>
		</a>
		
		<!-- Bannière 3 -->
		<a href="https://editions-actusf.fr/a/victor-lavalle/le-changelin">
			<article class="carousel-post" style="background-image: url('media/bandeaux/changelin-dispo.svg')"></article>
		</a>
				
		<!-- Bannière 4 -->
		<a href="https://editions-actusf.fr/">
			<article class="carousel-post" style="background-image: url('media/bandeaux/editions-collector-24.svg')"></article>
		</a>
		
		<!-- Bannière 5 -->
		<a href="https://editions-actusf.fr/a/rosalia-aguilar-solace/the-great-library-of-tomorrow">
			<article class="carousel-post" style="background-image: url('media/bandeaux/tml-decembre.svg')"></article>
		</a>


		<img alt="Précédent" class="prev-button" id="carousel-prev-button" src="/theme/carousel-arrow.png">
		<img alt="Suivant" class="next-button" id="carousel-next-button" src="/theme/carousel-arrow.png">
	</div>

	<div class="home-articles">
		{% for article in articles %}
			<div class="article">
				{% if article.hasCover() %}
					{{article.getCoverTag({
						size: 'h250',
						link: path('article_show', { slug: article.url })
					})|raw}}
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}