{% extends "layout:base.html.twig" %}

{% block main %}

	<div id="home-carousel" class="home-carousel">
	  
	<!-- Bannière 1 -->
		<a href="https://www.editions-actusf.fr/articles/search?q=int%C3%A9grale">
			<article class="carousel-post" style="background-image: url('/media/bandeaux/ope-integrales.jpg')"></article>
		</a>
	
		

		
		
		
		<!-- Bannière 3 -->
		<a href="https://fr.ulule.com/revolution-23/">
			<article class="carousel-post" style="background-image: url('/media/bandeaux/site-ulule-prolongations.jpg')"></article>
		</a>

		<!-- Bannière 4 -->
		<a href="https://www.editions-actusf.fr/blog/actusf-revient-en-2023">
			<article class="carousel-post" style="background-image: url('/media/bandeaux/vacances-2023-tw-plus-fb.jpg')"></article>
		</a>


		<img alt="Précédent" class="prev-button" id="carousel-prev-button" src="/theme/carousel-arrow.png">
		<img alt="Suivant" class="next-button" id="carousel-next-button" src="/theme/carousel-arrow.png">
	</div>

	<div class="home-articles">
		{% for article in articles %}
			<div class="article">
				{% if article.hasCover() %}
					{{article.getCoverTag({
						size: 'w600',
						link: path('article_show', { slug: article.url })
					})|raw}}
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}