{% extends "layout:base.html.twig" %}

{% block main %}

	<div id="home-carousel" class="home-carousel">
	    
		<!-- Bannière 3 -->
		<a href="https://editions-actusf.fr/">
			<article class="carousel-post" style="background-image: url('media/bandeaux/dispocabal.svg')"></article>
		</a>
				
		
		<!-- Bannière 5 -->
		<a href="https://editions-actusf.fr/a/thibault-lafargue/le-bouffon-de-la-couronne">
			<article class="carousel-post" style="background-image: url('media/bandeaux/bouffon-date.svg')"></article>
		</a>


		<img alt="Précédent" class="prev-button" id="carousel-prev-button" src="/theme/carousel-arrow.png">
		<img alt="Suivant" class="next-button" id="carousel-next-button" src="/theme/carousel-arrow.png">
	</div>

	<div class="home-articles">
		{% for article in articles %}
			<div class="article">
				{% if article.hasCover() %}
					{{article.getCoverTag({
						size: 'h250',
						link: path('article_show', { slug: article.url })
					})|raw}}
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}