{% extends "layout:base.html.twig" %}

{% block main %}

	<div id="HomeCarousel" class="HomeCarousel carousel slide" data-ride="carousel">
		<ol class="carousel-indicators mb-0">
			<li data-target="#HomeCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#HomeCarousel" data-slide-to="1"></li>
		</ol>

		<div class="carousel-inner">
			<!-- Bannière 1 -->
			<div class="carousel-item active">
				<a href="https://editions-actusf.fr/">
					<img alt="" role="presentation"
							 src="https://editions-actusf.fr/media/bandeaux/dispocabal.svg"
					>
				</a>
			</div>

			<!-- Bannière 2 -->
			<div class="carousel-item">
				<a href="https://editions-actusf.fr/a/thibault-lafargue/le-bouffon-de-la-couronne">
					<img alt="" role="presentation"
							 src="https://editions-actusf.fr/media/bandeaux/bouffon-date.svg"
					>
				</a>
			</div>
		</div>
	</div>

	<div class="home-articles">
		{% for article in articles %}
			<div class="article">
				{% if article.hasCover() %}
					{{article.getCoverTag({
						size: 'h250',
						link: path('article_show', { slug: article.url })
					})|raw}}
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
